.Description_container {
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
    background-color: #0000;
}

.DescriptionInfo {
    line-height: 17px !important;
}
.ChangedDescription_container{
    line-height: 17px;

    background-color: rgba(211, 211, 211, 0.43);
}
.Description_container ul {
    margin: 0;
}
.SocialNetworks_Container input{
    /* margin-left: -30px; */
}

.Fullname {
    font-weight: bolder;
    font-size: 20px;
}

.Description p {
    margin: 0px;
}
