.SocialNetworksContainer a{
    text-decoration: none;
    color:black;
}
.SocialNetworksContainer {
        line-height: 17px;


}
@media (max-width: 700px) {
    .SocialNetworksContainer {
        line-height: 18px;
    }
}

@media (max-width: 630px) {
    .SocialNetworksContainer_Changed {
        font-size: 12px;
        width: 180px;
    }
    .ChangedDescription_container b{
        font-size: 1px;
    }
    .ChangeContactsContainer input {
        max-width: 120px;
    }
}
@media (max-width: 620px) {
    .SocialNetworksContainer {
        width: 100% !important;
    }
}


.SocialNetworksContainer_Changed {
    border-left: 1px solid #000;
    background-color: rgba(211, 211, 211    , 0.43);
    line-height: 17px;
    border-left: none;
}

.ContactsContainer p {
    margin: 0;
    padding: 0;
}

.error {
    width: 200px;
    height: 200px;
    border:2px solid red
}
.ChangeContactsContainer p::first-letter {
    text-transform: capitalize;
}

.ChangeContactsContainer {
    margin-bottom: 4px;
    height: 20px;
    padding: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ChangeContactsContainer input {
    display: flex;
    height: 20px;
    width: 160px;
}