.header {
  padding:10px;
  grid-area: h;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyk4WNsT-h5vXlay4iSgtFDTE_pXkz9mvFbQ&usqp=CAU);
  background-position: center;
  background-size: cover;
}
.header_container {
  padding: 4px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
}

.favicon {
  max-height: 65px;
  max-width: 65px;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 5px rgba(255, 0, 0, 0.475);
}
.favicon img{
  height: 100%;
}


.loginBlock {
  max-height: 100%;
  float: right;
  color: white !important;
  display: flex;
  text-align: center;
  flex-direction: column;
}


.loginBlock a {
  color: white !important;
  text-decoration: none;
}

.loginBlock img {
  height: 30px;
  box-shadow: none;
  border-radius:0px;
  margin: 0 auto;
}
.ProfileInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ProfileInfo img {
  border-radius: 50%;
  
}
.ProfileInfo button {
  padding: 0px 3px 0px 3px;
  margin: 0;
  background:rgba(255, 255, 255, 0);
  color:white;
  border:1px solid white;
  font-weight: bolder;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ProfileInfo button {
 font-size: 12px;
}
.ProjectName {
  max-height: 100% ;
}
.ProjectName h1 {

  font-size: 4vw;
  font-family: 'Bungee Spice', cursive;
  text-shadow: 5px 5px 22px black;
  animation: top_down 10s infinite ;
}

@media (max-width: 740px) {
  
  .favicon {
    height: 55px;
  }
}
@media (max-width: 570px) {
  .loginBlock img {
    height: 20px;
  }
  .loginBlock {
    font-size: 10px;
  }
  .favicon {
    height: 40px;
  }

} 




/* @keyframes top_down {
 50% {
    font-size: 80px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0); }
} */

