.ProfileInfo_container {    
    border-bottom: 2px dotted rgb(73, 71, 71);
    
}
.ProfileInfo_TopContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr; 
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-top: 10px;
    padding:5px;
}


@media (max-width: 1040px) {
    .ProfileInfo_TopContainer {
        grid-template-columns: 130px 1fr 1fr; 
        grid-column-gap: 10px;
    }
}
@media (max-width: 540px) {
   
    .ProfileInfo_TopContainer a {
        font-size: 13px;
    }
    .ProfileInfo_TopContainer p {
        font-size: 11px;
    }
    .ProfileInfo_TopContainer b {
        font-size: 11px;
    }
    .ProfileInfo_TopContainer {
        grid-template-columns: 150px 3fr ;
        grid-template-rows: 1fr; 
    }
    .ProfileInfo_TopContainer input{
        font-size: 11px;
    }

}



.settingsButton {
    position: absolute;
    bottom: 0px;
    border: none;
    width: 40px;
    height: 40px;
    justify-self: right;
    background-image: url(https://cdn-icons-png.flaticon.com/512/17/17146.png);
    background-color: inherit;
    background-position: center;
    background-size: cover;
    transition: all 0.3s;
}

.settingsButton:active{
    background-color:rgba(0, 0, 0, 0.218);
    border-radius: 100%;
    cursor: pointer;
    transform:rotate(100deg) ;
}


