.loginField {
    margin-bottom: 10px;
}
.passwordField{
    margin-bottom: 10px;

}
.rememberMeField {
    margin-bottom: 10px;
}
.LoginContainer {
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    box-shadow: 10px 10px 40px 4px black;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
}
.LoginWrapper {
    width: 100%;

}