.recall button {
    font-size: 9px;
    cursor: pointer;
    width: 70px;
    height: 60px;
    background: red;
    position: fixed;
    border-radius: 20px;
    left: 1365px;
    border: 3px solid black;
    top: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition-duration: 1s;
  }
  
  .recall button:hover {
    width: 150px;
  }